@inherits LayoutComponentBase
@inject IJSRuntime JS
@inject NavigationManager NavigationManager
@using MudBlazor
<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />


<div class="page">
    <main>
        <article class="content">
            @Body
        </article>
    </main>

</div>
<div class="bottom-nav bottom-nav-background-wrapper">
    <NavMenu />
</div>
@code {

    private async Task GoBack()
    {
        await JS.InvokeVoidAsync("goBack");
    }
    private string CurrentUri => NavigationManager.Uri.Replace(NavigationManager.BaseUri, "");
}

<script>
    function goBack() {
        window.history.back();
    }
</script>
